.header-container {
  width: 1230px;
  height: auto;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.header-box {
  width: 100%;
  font-size: 2rem;
  border-radius: 5px 5px;
  font-weight: 500;
}
