// -----------------------------------------------------------
.header-container {
  width: 1260px;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
}
.header-box {
  text-align: center;
  padding: 20px;
}
