.task-container {
  height: auto;
  margin-left: 10%;
  margin-top: 70px;
}
.task-box {
  width: 85%;
  display: inline-flex;
  justify-content: space-between;
}
.task-btn {
  margin-top: 20px;
  width: 8%;
  height: 4vh;
  background-color: blue;
  color: white;
}
