.resetpass-container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .resetpass-box {
    width: 35%;
    height: auto;
    padding-left: 60px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 4px rgb(213, 217, 220);
    outline: none;
  }
}
.resetpass-form {
  width: 100%;
  input {
    width: 80%;
    padding: 8px;
    font-size: 0.8rem;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
  }
}
.reset-btn {
  background-color: rgb(60, 50, 247);
  color: white;
  width: 85%;
  padding: 8px;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 7px;
}
.form-text {
  padding-left: 80px;
}
