@import url("https://fonts.googleapis.com/css2");

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header: rgb(246, 207, 177);
  --sidebar: rgb(249, 232, 219);
  --cyan: white;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* .header-container {
  background-color: var(--header);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  color: antiquewhite;
  position: absolute;
}
.header-box {
  margin: 0;
  padding: 1rem;
  font-size: 5rem;
  border-radius: 5px 5px;
  font-weight: 500;
}
  ---------------------------------------------------------------

.alltodo-container{
  margin: 0 auto;
  width: 100%;
   display: flex;
  align-items: center;
  justify-content: space-between; 
}

.tabs {
  margin-top: 10px;
  display: flex;
  width: 100%;
  gap: 10px;
}
/* -------------------------------------------------------------------------- */

.sidebar-cotainer {
  background-color: var(--sidebar);
  height: 100vh;
  width: 20%;
  position: relative;
}
.sidebar-box {
  padding-top: 1rem;
}

p {
  margin-bottom: 0 !important;
}

h1 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
  margin-top: 2px;
}

/* .slogan {
  font-size: 2rem;
}
.Main {
  display: flex;
}


.todosof {
  font-size: 5rem;
}

.todosOf_item {
  font-size: 1.8rem;
}
.todosOf_item a {
  text-decoration: none;
}
.todosof_items {
  display: inline-block;
  padding-top: 1rem;
}
.add-btn {
  background-color: #52768b;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
a:hover {
  background-color: rgb(114, 136, 99);
}
.todo-container {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.todoBox {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 25px;
  left: auto;
}

.Today,
.NextSeven,
.AllTodos,
.Status,
.Completed,
.Uncompleted,
.TodoList {
  min-width: 50%;
  margin-bottom: 2rem;
}
.submit-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Modal {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(31, 28, 28);
  height: 100%;
  width: 100%;
}
.todoBox-container {
  position: relative;
}

.Modal.modal-container {
  background-color: blue;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  height: 85vh;
  border-radius: 7px;
}
h1 {
  color: rgb(15, 15, 15);
}
.text-center {
  width
  
} */
